.favoriteAnime {
    border: solid 2px lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mainSection {
    margin: 20px;
}

.cardsSections {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    flex-direction: row-reverse;

    &__sectionSearchedCards {
        width: 60vw;
        display: flex;
        flex-direction: column;
        border: solid 2px rgb(179, 104, 223);
        border-radius: 10px;

        &--title{
            text-align: center;
            color: white;
            background-color: rgb(179, 104, 223);
            border: solid rgb(179, 104, 223) 2px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        & li {
            display: flex;
            flex-direction: column;

            & h2 {
                font-size: 20px;
                text-wrap: wrap;
                text-align: center;
            }

            & img {
                height: 390px;
                width: 300px;
            }
        }

       
    }
    &__sectionFavorites {
        width: 40vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: solid 2px rgb(104, 223, 173);
        border-radius: 10px;
       
        &--title {
            text-align: center;
            color: white;
            background-color: rgb(104, 223, 173);
            border: solid rgb(104, 223, 173) 2px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    
        & li {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
            margin-left: 10px;

            & h2 {
                font-size: 15px;
                text-wrap: wrap;
            }

            & img {
                height: 200px;
                width: 150px;
            }
        }
    }
}


.searchInputs {
    display: flex;
    gap: 10px;
    width: 100vw;
    &__inputSearch {
        width: 25vw;
    }
}

.button {
    background-color: lightcoral;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    width: 60px;
    font-size: 10px;
}

.js-closeButton {
    background-color: lightcoral;
    border-radius: 50%;
    padding: 10px 5px 10px 5px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}