<main class="mainSection">
  <section class="searchInputs">
    <input
      type="text"
      class="js-inputSearch searchInputs__inputSearch"
      placeholder="Escribe aquí el nombre de un anime"
    />
    <button class="js-searchButton button">Buscar</button>
    <button class="js-resetButton button">Reset</button>
  </section>
  <div class="cardsSections">
    <section class="cardsSections__sectionSearchedCards">
      <h2 class="cardsSections__sectionSearchedCards--title">
        Resultados de la búsqueda
      </h2>
      <ul
        class="js-listResults cardsSections__sectionSearchedCards--listResults"
      ></ul>
    </section>
    <section class="cardsSections__sectionFavorites js-sectionFavorites hidden">
      <h2 class="cardsSections__sectionFavorites--title">Series favoritas</h2>
      <ul class="js-listFavorites"></ul>
      <button class="js-resetFavoritesButton button">Reset Favorites</button>
    </section>
  </div>
</main>
